<div class="bg-light border-top p-3">
    <div class="container">

        <div class="row">
            <div class="col-md-2">
                <div class="text-center">
                    DİNCER LOJİSTİK
                </div>
            </div>


            <div class="col-md-8">
                <div class="text-center">
                    <br /> 
                    <bold>Dincer Lojistik</bold>
                </div>
                <div class="text-center">
                    <div class="btn-group my-3">
                        <a href="https://www.dincerlojistik.com.tr/" class="btn btn-secondary">
                            <i class="fa-brands fa-google"></i>
                            Dincer Lojistik website
                        </a>

                    </div>
                </div>
            </div>



            <div class="col-md-2">
                <div products="" number="6"></div>
            </div>
        </div>

    </div>
</div>